################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeePortal/.vs
/EmployeePortal/Logger/obj/Debug
/EmployeePortal/packages
